<div class="justify-content-center">
  <div class="border-thin">
    <div>
      <h2> <%= t('session.new.connect') %></h2>
      <br>
    </div>
    <br>
    <div class="github-btn ">
      <% if Rails.env.production? %>
        <div class="border-thin">
          <%= link_to image_tag('github-logo.png'), @github_oauth_url, target: '_blank', class: 'github-btn' %>
        </div>
      <% else %>
        <div class="border-thin">
          <%= button_to image_tag('github-logo.png'), session_path, class: 'github-btn' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
