<h3>Mentor::Users#show</h3>
<br>
<%= link_to t('shared.back'), :back %>
<hr>
<br>

<div>
  <p> <%= link_to t('mentor.users.all-students'), mentor_students_path %> </p>
  <p> <%= link_to t('mentor.users.all-mentorships'), mentor_mentorships_path %> </p>
  <p> Mes corrections à effectuer </p>
</div>
