<h1>Mentor::MentorshipSessions#index</h1>

<div id='mentorship_sessions'>
  <% mentorship_sessions.each do |mentorship_session| %>
    <div>
      <%= link_to t('shared.link_show'), mentor_mentorship_session_path(mentorship_session) %>
      <%= turbo_frame_tag "mentorship_session_#{mentorship_session.id}" do %>
        <%= link_to t('shared.link_edit'), edit_mentor_mentorship_session_path(mentorship_session) %>
      <% end %>
    </div>
  <% end %>
</div>
