<div class='border-thin'>
  <ul>
    <li> <%= link_to t('shared.link_show'), staff_mentorship_path(mentorship) %> </li>
    <li> <%= t('shared.attr.created-at') %> <%= mentorship.created_at %> </li>
  </ul>
</div>