<div class="slim-container">

  <h3>Staff::Mentorships#index</h3>

  <%= link_to t('shared.back'), :back %>
  <br>
  <hr>

  <div>
    <% mentorships.each do |mentorship| %>
      <div class='border-thin'>
        <ul>
          <li> <%= link_to t('shared.link_show'), staff_mentorship_path(mentorship) %> </li>
          <li> <%= t('shared.attr.created-at') %> <%= mentorship.created_at %> </li>
        </ul>
      </div>
    <% end %>
  </div>
</div>
