<h1>Staff::Users#show</h1>

<%= link_to t('shared.back'), :back %>
<br>
<hr>

<%= render partial: ('staff/users/statuses'), locals: { user: user } %>
<hr>
<%= render partial: 'login/users/list', locals: { user: user } %>
<%= button_to t('shared.link_blacklist'), staff_user_path(user), method: :delete %>
