---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - fake_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b0cc7ff50c9d18d539369c0907af69070be771c6645fcb37d63e0d79110cdbb6"
      Last-Modified:
      - Fri, 07 Jan 2022 04:49:10 GMT
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4905'
      X-Ratelimit-Reset:
      - '1641681915'
      X-Ratelimit-Used:
      - '95'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"login":"jpmagido","id":48461607,"node_id":"MDQ6VXNlcjQ4NDYxNjA3","avatar_url":"https://avatars.githubusercontent.com/u/48461607?v=4","gravatar_id":"","url":"https://api.github.com/users/jpmagido","html_url":"https://github.com/jpmagido","followers_url":"https://api.github.com/users/jpmagido/followers","following_url":"https://api.github.com/users/jpmagido/following{/other_user}","gists_url":"https://api.github.com/users/jpmagido/gists{/gist_id}","starred_url":"https://api.github.com/users/jpmagido/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jpmagido/subscriptions","organizations_url":"https://api.github.com/users/jpmagido/orgs","repos_url":"https://api.github.com/users/jpmagido/repos","events_url":"https://api.github.com/users/jpmagido/events{/privacy}","received_events_url":"https://api.github.com/users/jpmagido/received_events","type":"User","site_admin":false,"name":"jpmagido","company":null,"blog":"http://jp-online-cv.herokuapp.com","location":"Paris","email":null,"hireable":null,"bio":"Dev
        Backend","twitter_username":null,"public_repos":60,"public_gists":2,"followers":8,"following":5,"created_at":"2019-03-12T01:37:36Z","updated_at":"2022-01-07T04:49:10Z","private_gists":2,"total_private_repos":14,"owned_private_repos":14,"disk_usage":176464,"collaborators":2,"two_factor_authentication":true,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":10000}}'
  recorded_at: Sat, 08 Jan 2022 22:17:41 GMT
- request:
    method: get
    uri: http://checkip.amazonaws.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '91.172.235.156

        '
  recorded_at: Sat, 08 Jan 2022 22:17:41 GMT
recorded_with: VCR 6.0.0
