<tr>
  <% if doc_link.linkable.is_a? Challenge %>
    <td> <%= link_to doc_link.linkable.title, login_challenge_path(doc_link.linkable) %> </td>
  <% else %>
    <td> <%= link_to doc_link.linkable.display_nature, login_challenge_answer_path(doc_link.linkable.challenge, doc_link.linkable) %> </td>
  <% end %>
  <td> <%= t("staff.doc_links.type.#{doc_link.linkable_type}") %> </td>
</tr>