<h1>Staff::Answers#show</h1>
<%= link_to t('shared.back'), :back %>
<br>
<hr>

<div>
  <%= link_to t('answers.links.new-answer'), new_staff_answer_path(challenge_id: challenge.id) %>
</div>

<%= render partial: 'login/answers/list', locals: { answer: answer } %>
