<div class='container'>
  <% if conversation %>
    <%= turbo_stream_from conversation %>
    <div id='conversation_messages' style="height: 385px; overflow:auto;">
      <%= render conversation_messages %>
    </div>
    <br>
    <%= turbo_frame_tag 'new_conversation_message', src: new_login_conversation_conversation_message_path(conversation), target: '_top'%>
  <% else %>
    <p> <%= t('conversations.not-selected') %> </p>
  <% end %>
</div>
