<h3>Staff::Challenges#new</h3>
<%= link_to t('shared.back'), :back %>
<br>
<hr>

<h4> <%= t('challenges.custom-text') %> </h4>

<%= render partial: 'login/challenges/form', locals: { array_model: [:staff, @new_challenge] } %>
