<h3>Mentor::Mentorships#show</h3>

<br>
<%= link_to t('shared.back'), :back %>
<hr>
<br>

<div>
  <%= render partial: 'mentor/mentorships/list', locals: { mentorship: mentorship } %>
  <%= link_to t('shared.link_edit'), edit_mentor_mentorship_path(mentorship) %>
</div>
<br>
<div>
  <%= link_to t('mentor.mentorship_sessions.links.create-mentorship-session'), new_mentor_mentorship_session_path(mentorship_id: mentorship.id) %>
</div>
