<h3>Mentor::Mentorships#show</h3>

<br>
<%= link_to t('shared.back'), :back %>
<hr>
<br>

<div>
  <%= render partial: 'mentor/mentorships/list', locals: { mentorship: mentorship } %>
  <%= link_to t('shared.link_edit'), edit_mentor_mentorship_path(mentorship) %>
</div>
