/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require simple_calendar
 */
@import "./actiontext.css";

/* COLORS */
$bg-default: #F5F5F5;
$btn-default: #5B62F0;

body {
  background-color: $bg-default;
}

/* CONTAINERS */

.container {
  margin: 30px;
}

.slim-container {
  margin: 5px;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.space-around {
  display: flex;
  justify-content: space-around;
}

.container-row {
  display: flex;
  flex-direction: row;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

/* MARGINS */

.margin-right-md {
  margin-right: 30px;
}

/* BORDERS */

.border-thin {
  border: 1px solid;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

/* FONTS SIZE */

.font-lg {
  font-size: x-large;
}

/* BUTTONS */

.button {
  background-color: $btn-default;
  border: none;
  color: $bg-default;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}

.button:hover {
  color: lightgrey;
}
