.justify-content-center {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  height: 400px;
}

.github-btn {
  text-align: center;
}

.main-container {
  height: 800px;
}

button {
  all: unset;
}