.time-slot-approved {
  background-color: lightskyblue;
}

.time-slot-coach {
  background-color: #008060;
}

.time-slot-student {
  background-color: darkseagreen;
}

.time-slot-not-approved {
  background-color: grey;
}
