<h3> <%= t('coaches.new-coach-phrase') %></h3>

<div>
  <!-- TODO: Condition pour voir le bouton -->
  <%= form_with model: [:login, @new_coach] do |f| %>
    <%= f.rich_text_area :message %>
    <br>
    <%= f.submit t('shared.submit_form') %>
  <% end %>
</div>
