<h3>Mentor::Students#index</h3>
<br>
<%= link_to t('shared.back'), :back %>
<hr>
<br>

<%= render 'mentor/students/search' %>

<div>
  <% students.each do |student| %>
    <ul>
      <li> <%= student.user.login %> </li>
      <li> <%= link_to t('shared.link_show'), mentor_student_path(student) %> </li>
    </ul>
  <% end %>
</div>
