<% if current_user.admin %>
  <hr>
  <div> <%= link_to t('shared.link_admin_version'), new_staff_challenge_answer_path(challenge) %> </div>
  <hr>
<% end %>

<h3> <%= t('answers.new.phrase-1') %> </h3>

<div>
  <%= render partial: 'login/answers/form', locals: { array_model: [:login, challenge, @new_answer] } %>
</div>
